.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-family: Verdana;
  font-size: $font-size-small;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1;
  padding: $m-size $l-size;
  text-decoration: none;
  border-radius: 2px;
  transition: background 0.3s ease;

  &:hover {
    background: darken($blue, 7);
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}
